@media (min-width: 800px) {
	@font-face {

		font-family: 'Avant_Garde';
		src: url('fuentes/ITCAvantGardeStd-Bk.eot'); /* IE9 Compat Modes */
		src: url('fuentes/ITCAvantGardeStd-Bk.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('fuentes/ITCAvantGardeStd-Bk.woff') format('woff'), /* Modern Browsers */
		url('fuentes/ITCAvantGardeStd-Bk.ttf') format('truetype'), /* Safari, Android, iOS */
		url('fuentes/ITCAvantGardeStd-Bk.svg#ITCAvantGardeStd-Bk') format('svg'); /* Legacy iOS */
	}

	@font-face {

		font-family: 'Avant_Garde_dos';/*botones menu*/
		src: url('fuentes/ITCAvantGardeStd-Md.eot'); /* IE9 Compat Modes */
		src: url('fuentes/ITCAvantGardeStd-Md.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('fuentes/ITCAvantGardeStd-Md.woff') format('woff'), /* Modern Browsers */
		url('fuentes/ITCAvantGardeStd-Md.ttf') format('truetype'), /* Safari, Android, iOS */
		url('fuentes/ITCAvantGardeStd-Md.svg#ITCAvantGardeStd-Md') format('svg'); /* Legacy iOS */
	}

	@font-face {

		font-family: 'Optima';
		src: url('fuentes/OpenSans-Regular.eot'); /* IE9 Compat Modes */
		src: url('fuentes/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('fuentes/OpenSans-Regular.woff') format('woff'), /* Modern Browsers */
		url('fuentes/OpenSans-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
		url('fuentes/OpenSans-Regular.svg#OpenSans-Regular') format('svg'); /* Legacy iOS */
	}

	body, div, img, video, audio {
		margin: 0;
		border: 0;
		padding: 0
	}

	body {
		font-family: 'Optima';
		line-height: 1;
		color: #003BB3;
		background-attachment: fixed;
		background-repeat: no-repeat;
	}
	#contenedorPrincipal {
		width: 100%;
		background-color: transparent;
		padding-bottom: 0px;
		padding-top: 10px
	}
	#contenedorVideo, #contenedorDiapositiva {
		float: left;
		margin-top: 12px;
		margin-bottom: 0px;
		
	}
	#contenedorVideo {
		background-color: transparent;
		margin-left: 1.672%;
		width: 37.672%;
		
	}
	#contenedorDiapositiva {
		background-color: transparent;
		margin-left: 17.8688524590163934426229508196721%;
		width: 36.672%
	}
	#contenedorDiapositiva img, #contenedorCarrusel img, #contenedorVideo video {
		max-width: 100%
	}
	#contenedorCarrusel {
		background-color: transparent;
		clear: both;
		height: 104px;
		width: 94.328%;
		margin-left: 4.1%;
		position: relative;
		overflow: hidden;
		overflow-x: scroll
	}
	
	#contenedorVideo, #contenedorDiapositiva, #contenedorCarrusel{
		display:none;
	}
	.Diapos {
		width: 100px;
		float: left;
		margin-left: 5px;
		margin-right: 5px;
		margin-top: 5px;
		position: relative
	}
	#contenedorDiapositiva a {
		text-align: center;
		position: relative;
		left: -80px;
		top: -30px;
		overflow: hidden
	}
	.carrusel {
		width: 1560px;
	}
	#titulo {

		text-align: center;
		background: rgba(103,109,183,1);
		background: -moz-linear-gradient(top,rgba(103,109,183,1) 0,rgba(246,246,246,0.39) 61%,rgba(255,255,255,0) 100%);
		background: -webkit-gradient(left top,left bottom,color-stop(0,rgba(103,109,183,1)),color-stop(61%,rgba(246,246,246,0.39)),color-stop(100%,rgba(255,255,255,0)));
		background: -webkit-linear-gradient(top,rgba(103,109,183,1) 0,rgba(246,246,246,0.39) 61%,rgba(255,255,255,0) 100%);
		background: -o-linear-gradient(top,rgba(103,109,183,1) 0,rgba(246,246,246,0.39) 61%,rgba(255,255,255,0) 100%);
		background: -ms-linear-gradient(top,rgba(103,109,183,1) 0,rgba(246,246,246,0.39) 61%,rgba(255,255,255,0) 100%);
		background: linear-gradient(to bottom,rgba(103,109,183,1) 0,rgba(246,246,246,0.39) 61%,rgba(255,255,255,0) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#676db7',endColorstr='#ffffff',GradientType=0);
		-webkit-border-top-left-radius: 10px;
		-webkit-border-top-right-radius: 10px;
		-moz-border-radius-topleft: 10px;
		-moz-border-radius-topright: 10px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px
	}
	#diapoFull {
		width: 100%
	}
	.cabecera {
		width: 60.32786885245901639344262295082%;
		margin-left: 19.67213114754098360655737704918%
	}
	.cajasContenido {

		width: 85.358711566617862371888726207906%;/*1166/1366*/
		margin-left: 7.3206442166910688140556368960469%;/*100/1366*/
		margin-top: 25px;
		background-color: transparent;
	}
	

	#encabezado {
		background-image: url("../media/fondo.png");
		height: 600px;
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-position: center;
		background-size: 90%;
		-webkit-background-size: 90%;
		-moz-background-size: 90%;
		-o-background-size: 90%;
		-webkit-box-shadow: 6px 7px 16px 0px rgba(50, 50, 50, 0.31);
		-moz-box-shadow: 6px 7px 16px 0px rgba(50, 50, 50, 0.31);
		box-shadow: 6px 7px 16px 0px rgba(50, 50, 50, 0.31);
		border-radius: 10px 10px 10px 10px;
		-moz-border-radius: 10px 10px 10px 10px;
		-o-border-radius: 10px 10px 10px 10px;
		text-align: center;
	}
	#contenido {
		margin-top: 10px;
	}
	#textoEncabezado {
		text-align: center;
		top: 100%;
		font-size: xx-large;
		margin-top: 10px;
		position: relative;
	}

	.transiciones {
		-webkit-transition: all 900ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
		-moz-transition: all 900ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
		-o-transition: all 900ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
		transition: all 900ms cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */
		-webkit-transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750);
		-moz-transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750);
		-o-transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750);
		transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */
	}

	#calce {
		background-color: #81F7F3;
		display: none;
		bottom: 10px;
		width: 100%;
		height: 45px;
		clear: both;
		text-shadow: 20px 20px 5px rgba(150, 150, 150, 0.51);
		-webkit-box-shadow: 6px 7px 16px 0px rgba(50, 50, 50, 0.31);
		-moz-box-shadow: 6px 7px 16px 0px rgba(50, 50, 50, 0.31);
		box-shadow: 6px 7px 16px 0px rgba(50, 50, 50, 0.31);
	}

	#calceLogo {
		width: 80px;
		float: left;
		height: 40px;
		margin-left: 20px;
	}

	#calceDendrita {
		width: 50%;
		margin-right: 40px;
		margin-top: 8px;
		color: white;
		text-align: right;
		float: right;
		font-size: xx-large;
	}
	#inicio {
		max-width: 50%;
		margin: 0px;
	}

	.btn {
		color: white;
		background-color: #2E2EFE;
		background-image: none;
	}

	.btn:hover, .btn:active {
		background-color: #5858FA;
		background-image: none;
	}
	.aparicion {
		display: none;
	}

	#botonera {
		width: 100%;
		clear: both;
	}
	.botones {
		width: 200px;/*200/1366*/
		float: left;
		margin-left: 12.389659520807061790668348045397%;/*100/793*/
		margin-right: 12.389659520807061790668348045397%;/*100/793*/
		margin-top: 40px;
		margin-bottom: 40px;
	}

	#boton1, #boton2 {
		-webkit-box-shadow: 6px 7px 16px 0px rgba(50, 50, 50, 0.31);
		-moz-box-shadow: 6px 7px 16px 0px rgba(50, 50, 50, 0.31);
		box-shadow: 6px 7px 16px 0px rgba(50, 50, 50, 0.31);
		font-size: large;
	}

	#boton1:hover, #boton2:hover {
		-webkit-box-shadow: 6px 7px 16px 0px rgba(214,134,36,1);
		-moz-box-shadow: 6px 7px 16px 0px rgba(214,134,36,1);
		box-shadow: 6px 7px 16px 0px rgba(214,134,36,1);
	}
	.ponente {
		margin-left: 4.2881646655231560891938250428816%;/*50/1166*/
		margin-top: 30px;
		display:none;
	}

	.datosPonente, .datosPonenteDer {
		background-color: #81F7F3;
		-webkit-box-shadow: 5px 5px 15px 5px #8C8C8C;
		box-shadow: 5px 5px 15px 5px #8C8C8C;
		-moz-box-shadow: 5px 5px 15px 5px #8C8C8C;
		border: #2E2EFE solid 1px;
		color: white;
		width: 69.444444444444444444444444444444%;/*800/1152*/
		height:133px;
	}
	.fotoPonente {
		float: left;
		position: relative;
		top: -30px;
		left: 5px;
		width: 14.962593516209476309226932668329%;/*120/802*/
		margin-left: 20px;
	}
	.fotoPonente img, .fotoPonenteDer img {
		max-width: 100%;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		border-radius: 20px;
		border: white solid 4px;
	}

	.generalesPonente {
		margin-left: 23.978%;
		width: 74.429%;
		text-align:left;
	}
	
	.generalesPonente h3, .generalesPonente h4, .generalesPonenteDer h3, .generalesPonenteDer h4{
		line-height:20px;
		
	}
	.opciones {
		float: right;
		width: 24.305555555555555555555555555556%;/*200/1152*/
		background-color: white;
		position: relative;
		bottom: 97px;
		right: 10px;
		list-style-image: url("../media/bullet1.png");
		font-size: large;
	}

	.fotoPonenteDer {
		float: right;
		position: relative;
		top: -30px;
		width: 14.962593516209476309226932668329%;/*120/802*/
		margin-right: 20px;
		right: 5px;
	}
	
	
	.datosPonenteDer {
		float: right;
	}

	.generalesPonenteDer {
		width: 74.429%;
		margin-left: 3.374%;
		float: left;
		text-align: right;
	}

	.opcionesDer {
		float: left;
		list-style-image: url("../media/bullet1.png");
		font-size: large;
		width: 24.305555555555555555555555555556%;/*280/1152*/
		position: relative;
		top: 80px;
		left: 30px;
		text-align:right;
	}
	
	.opciones li, .opcionesDer li{
		margin-bottom:15px;
	}
	
	#framePonencia{
		width:100%;
	}
	#myModal2{
		text-align:left;
	}

}
@media (max-width: 799px) {
	body, div, img, video, audio {
		margin: 0;
		border: 0;
		padding: 0
	}
	@font-face {

		font-family: 'Avant_Garde';
		src: url('fuentes/ITCAvantGardeStd-Bk.eot'); /* IE9 Compat Modes */
		src: url('fuentes/ITCAvantGardeStd-Bk.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('fuentes/ITCAvantGardeStd-Bk.woff') format('woff'), /* Modern Browsers */
		url('fuentes/ITCAvantGardeStd-Bk.ttf') format('truetype'), /* Safari, Android, iOS */
		url('fuentes/ITCAvantGardeStd-Bk.svg#ITCAvantGardeStd-Bk') format('svg'); /* Legacy iOS */
	}

	@font-face {

		font-family: 'Avant_Garde_dos';/*botones menu*/
		src: url('fuentes/ITCAvantGardeStd-Md.eot'); /* IE9 Compat Modes */
		src: url('fuentes/ITCAvantGardeStd-Md.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('fuentes/ITCAvantGardeStd-Md.woff') format('woff'), /* Modern Browsers */
		url('fuentes/ITCAvantGardeStd-Md.ttf') format('truetype'), /* Safari, Android, iOS */
		url('fuentes/ITCAvantGardeStd-Md.svg#ITCAvantGardeStd-Md') format('svg'); /* Legacy iOS */
	}

	@font-face {

		font-family: 'Optima';
		src: url('fuentes/OpenSans-Regular.eot'); /* IE9 Compat Modes */
		src: url('fuentes/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('fuentes/OpenSans-Regular.woff') format('woff'), /* Modern Browsers */
		url('fuentes/OpenSans-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
		url('fuentes/OpenSans-Regular.svg#OpenSans-Regular') format('svg'); /* Legacy iOS */
	}

	body, div, img, video, audio {
		margin: 0;
		border: 0;
		padding: 0
	}

	body {
		font-family: 'Optima';
		line-height: 1;
		color: #003BB3;
		background-attachment: fixed;
		background-repeat: no-repeat;
	}
	#contenedorPrincipal {
		width: 100%;
		background-color: transparent;
		padding-bottom: 0px;
		padding-top: 10px
	}
	#contenedorVideo, #contenedorDiapositiva {
		float: left;
		margin-top: 12px;
		margin-bottom: 0px;
		
	}
	#contenedorVideo {
		background-color: transparent;
		margin-left: 1.672%;
		width: 37.672%;
		
	}
	#contenedorDiapositiva {
		background-color: transparent;
		margin-left: 17.8688524590163934426229508196721%;
		width: 36.672%
	}
	#contenedorDiapositiva img, #contenedorCarrusel img, #contenedorVideo video {
		max-width: 100%
	}
	#contenedorCarrusel {
		background-color: transparent;
		clear: both;
		height: 104px;
		width: 94.328%;
		margin-left: 4.1%;
		position: relative;
		overflow: hidden;
		overflow-x: scroll
	}
	
	#contenedorVideo, #contenedorDiapositiva, #contenedorCarrusel{
		display:none;
	}
	.Diapos {
		width: 100px;
		float: left;
		margin-left: 5px;
		margin-right: 5px;
		margin-top: 5px;
		position: relative
	}
	#contenedorDiapositiva a {
		text-align: center;
		position: relative;
		left: -80px;
		top: -30px;
		overflow: hidden
	}
	.carrusel {
		width: 1560px;
	}
	#titulo {

		text-align: center;
		background: rgba(103,109,183,1);
		background: -moz-linear-gradient(top,rgba(103,109,183,1) 0,rgba(246,246,246,0.39) 61%,rgba(255,255,255,0) 100%);
		background: -webkit-gradient(left top,left bottom,color-stop(0,rgba(103,109,183,1)),color-stop(61%,rgba(246,246,246,0.39)),color-stop(100%,rgba(255,255,255,0)));
		background: -webkit-linear-gradient(top,rgba(103,109,183,1) 0,rgba(246,246,246,0.39) 61%,rgba(255,255,255,0) 100%);
		background: -o-linear-gradient(top,rgba(103,109,183,1) 0,rgba(246,246,246,0.39) 61%,rgba(255,255,255,0) 100%);
		background: -ms-linear-gradient(top,rgba(103,109,183,1) 0,rgba(246,246,246,0.39) 61%,rgba(255,255,255,0) 100%);
		background: linear-gradient(to bottom,rgba(103,109,183,1) 0,rgba(246,246,246,0.39) 61%,rgba(255,255,255,0) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#676db7',endColorstr='#ffffff',GradientType=0);
		-webkit-border-top-left-radius: 10px;
		-webkit-border-top-right-radius: 10px;
		-moz-border-radius-topleft: 10px;
		-moz-border-radius-topright: 10px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px
	}
	#diapoFull {
		width: 100%
	}
	.cabecera {
		width: 60.32786885245901639344262295082%;
		margin-left: 19.67213114754098360655737704918%
	}
	.cajasContenido {

		width: 85.358711566617862371888726207906%;/*1166/1366*/
		margin-left: 7.3206442166910688140556368960469%;/*100/1366*/
		margin-top: 50px;
		background-color: transparent;
	}

	#encabezado {
		background-image: url("../media/fondo.png");
		height: 600px;
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-position: center;
		background-size: 90%;
		-webkit-background-size: 90%;
		-moz-background-size: 90%;
		-o-background-size: 90%;
		-webkit-box-shadow: 6px 7px 16px 0px rgba(50, 50, 50, 0.31);
		-moz-box-shadow: 6px 7px 16px 0px rgba(50, 50, 50, 0.31);
		box-shadow: 6px 7px 16px 0px rgba(50, 50, 50, 0.31);
		text-align: center;
	}
	#contenido {
		margin-top: 10px;
	}
	#textoEncabezado {
		text-align: center;
		top: 100%;
		font-size: xx-large;
		margin-top: 10px;
		position: relative;
	}

	.transiciones {
		-webkit-transition: all 900ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
		-moz-transition: all 900ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
		-o-transition: all 900ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
		transition: all 900ms cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */
		-webkit-transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750);
		-moz-transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750);
		-o-transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750);
		transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */
	}

	#calce {
		background-color: #81F7F3;
		display: none;
		bottom: 10px;
		width: 100%;
		height: 45px;
		clear: both;
		text-shadow: 20px 20px 5px rgba(150, 150, 150, 0.51);
		-webkit-box-shadow: 6px 7px 16px 0px rgba(50, 50, 50, 0.31);
		-moz-box-shadow: 6px 7px 16px 0px rgba(50, 50, 50, 0.31);
		box-shadow: 6px 7px 16px 0px rgba(50, 50, 50, 0.31);
	}

	#calceLogo {
		width: 80px;
		float: left;
		height: 40px;
		margin-left: 20px;
	}

	#calceDendrita {
		width: 50%;
		margin-right: 40px;
		margin-top: 8px;
		color: white;
		text-align: right;
		float: right;
		font-size: xx-large;
	}
	#inicio {
		max-width: 50%;
		margin: 0px;
	}

	.btn {
		color: white;
		background-color: #2E2EFE;
		background-image: none;
	}

	.btn:hover, .btn:active {
		background-color: #5858FA;
		background-image: none;
	}
	.aparicion {
		display: none;
	}

	#botonera {
		width: 100%;
		clear: both;
	}
	.botones {
		width: 200px;/*200/1366*/
		float: left;
		margin-left: 12.389659520807061790668348045397%;/*100/793*/
		margin-right: 12.389659520807061790668348045397%;/*100/793*/
		margin-top: 40px;
		margin-bottom: 40px;
	}

	#boton1, #boton2 {
		-webkit-box-shadow: 6px 7px 16px 0px rgba(50, 50, 50, 0.31);
		-moz-box-shadow: 6px 7px 16px 0px rgba(50, 50, 50, 0.31);
		box-shadow: 6px 7px 16px 0px rgba(50, 50, 50, 0.31);
		font-size: large;
	}

	#boton1:hover, #boton2:hover {
		-webkit-box-shadow: 6px 7px 16px 0px rgba(214,134,36,1);
		-moz-box-shadow: 6px 7px 16px 0px rgba(214,134,36,1);
		box-shadow: 6px 7px 16px 0px rgba(214,134,36,1);
	}
	.ponente {
		margin-left: 4.2881646655231560891938250428816%;/*50/1166*/
		margin-top: 30px;
		display:none;
	}

	.datosPonente, .datosPonenteDer {
		background-color: #81F7F3;
		-webkit-box-shadow: 5px 5px 15px 5px #8C8C8C;
		box-shadow: 5px 5px 15px 5px #8C8C8C;
		-moz-box-shadow: 5px 5px 15px 5px #8C8C8C;
		border: #2E2EFE solid 1px;
		color: white;
		width: 69.444444444444444444444444444444%;/*800/1152*/
		height:133px;
	}
	.fotoPonente {
		float: left;
		position: relative;
		top: -30px;
		left: 5px;
		width: 14.962593516209476309226932668329%;/*120/802*/
		margin-left: 20px;
	}
	.fotoPonente img, .fotoPonenteDer img {
		max-width: 100%;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		border-radius: 20px;
		border: white solid 4px;
	}

	.generalesPonente {
		margin-left: 23.978%;
		width: 74.429%;
		text-align:left;
	}
	
	.generalesPonente h3, .generalesPonente h4, .generalesPonenteDer h3, .generalesPonenteDer h4{
		line-height:20px;
		
	}
	.opciones {
		float: right;
		width: 24.305555555555555555555555555556%;/*200/1152*/
		background-color: white;
		position: relative;
		bottom: 97px;
		right: 10px;
		list-style-image: url("../media/bullet1.png");
		font-size: large;
	}

	.fotoPonenteDer {
		float: right;
		position: relative;
		top: -30px;
		width: 14.962593516209476309226932668329%;/*120/802*/
		margin-right: 20px;
		right: 5px;
	}
	
	
	.datosPonenteDer {
		float: right;
	}

	.generalesPonenteDer {
		width: 74.429%;
		margin-left: 3.374%;
		float: left;
		text-align: right;
	}

	.opcionesDer {
		float: left;
		list-style-image: url("../media/bullet1.png");
		font-size: large;
		width: 24.305555555555555555555555555556%;/*280/1152*/
		position: relative;
		top: 80px;
		left: 30px;
		text-align:right;
	}
	
	.opciones li, .opcionesDer li{
		margin-bottom:15px;
	}
	
	#framePonencia{
		width:100%;
	}
	#myModal2{
		text-align:left;
	}
}