<div  class=' ponente'>
				<div class='datosPonente'>
					<div class='fotoPonente'>
						<img src='media/ponente1.png'/>
						</div>
					
					<div class='generalesPonente'>
						<h3>Dr. Javier Gutiérrez</h3>
						<h3>Cirujano General Oncólogo</h3>
						<h4>Hospital Ángeles Lomas Centro</h4>
						<h4>Médico ABCD Campus Etcétera</h4>
					</div>
					
				</div>
				<div class='opciones'>
					<ul>
						<li>
							Audio directo
						</li>
						<li>
							Curriculum
						</li>
					</ul>
				</div>

			</div>

			<div  class='ponente'>
				<div class='opcionesDer'>
					<ul>
						<li>
							Audio directo
						</li>
						<li>
							Curriculum
						</li>
					</ul>
				</div>
				<div class='datosPonenteDer'>
					
					<div class='fotoPonenteDer'><img src='media/ponente1.png'/>
						</div>
					<div class='generalesPonenteDer'>
						<h3>Dr. Juán Pérez</h3>
						<h3>Cirujano General Oncólogo</h3>
						<h4>Hospital Ángeles Lomas Centro</h4>
						<h4>Médico ABCD Campus Etcétera</h4>
					</div>
					
					
				</div>

			</div>