
<!--<iframe src="vistas/layout.html"  id="framePonencia"></iframe>-->
<div class="cabecera">
			<h1 id="titulo">Dr. José Luis Zaragoza: Platica Hipertensión Arterial</h1>
			</div>
			<div id="contenedorVideo">

				<video id="miVideo" preload controls="controls" loop="loop">
					<source src="media/video/video.ogv" type="video/ogg">
					<source src="media/video/video.webm" type="video/webm">
					<source src="media/video/video.mp4" type="video/mp4">
								
					Your browser X|

				</video>

			</div>

			<div id="contenedorDiapositiva">

				<img id="Diapositiva" src="media/diapo/Diapositiva1.PNG" />

				<a id="ampliar" href="#myModal" role="button" class="btn" data-toggle="modal">Ampliar</a>

				<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-header">
						<button id="cerrarTache" type="button" class="close" data-dismiss="modal" aria-hidden="false">
							X
						</button>
						<h3 id="myModalLabel">Diapositiva </h3>
					</div>
					<div class="modal-body">
						<img id="diapoFull" src="media/diapo/Diapositiva10.PNG" />
					</div>
					<div class="modal-footer">
						<button id="cerrarBtn" class="btn" data-dismiss="modal" aria-hidden="true">
							Cerrar
						</button>
						
					</div>
				</div>
			</div>

			<div id="contenedorCarrusel">

				<div class="carrusel">
				<a  href="#contenedorCarrusel"> <img id="diapo1" class="Diapos" src="media/diapo/Diapositiva1.PNG"/></a> 
				<a  href="#contenedorCarrusel"><img id="diapo2" class="Diapos" src="media/diapo/Diapositiva2.PNG"/></a> 
				<a  href="#contenedorCarrusel"><img id="diapo3" class="Diapos" src="media/diapo/Diapositiva3.PNG"/></a> 
				<a  href="#contenedorCarrusel"><img id="diapo4" class="Diapos" src="media/diapo/Diapositiva4.PNG"/></a> 
				<a  href="#contenedorCarrusel"><img id="diapo5" class="Diapos" src="media/diapo/Diapositiva5.PNG"/></a> 
				<a  href="#"><img id="diapo6" class="Diapos" src="media/diapo/Diapositiva6.PNG"/></a> 
				<a  href="#"><img id="diapo7" class="Diapos" src="media/diapo/Diapositiva7.PNG"/></a> 
				<a  href="#"><img id="diapo8" class="Diapos" src="media/diapo/Diapositiva8.PNG"/></a> 
				<a  href="#"><img id="diapo9" class="Diapos" src="media/diapo/Diapositiva9.PNG"/></a> 
				<a  href="#"><img id="diapo10" class="Diapos" src="media/diapo/Diapositiva10.PNG"/></a> 
				<a  href="#"><img id="diapo11" class="Diapos" src="media/diapo/Diapositiva11.PNG"/></a> 
				<a  href="#"><img id="diapo12" class="Diapos" src="media/diapo/Diapositiva12.PNG"/></a> 
				<a  href="#"><img id="diapo13" class="Diapos" src="media/diapo/Diapositiva13.PNG"/></a> 
				</div>
			</div>
			
